*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  //900 - 1200px
  // @include respond(tab-land) {
  //   font-size: 56.25%;
  // }

  // // 600 - 900px
  // @include respond(tab-port) {
  //   font-size: 50%;
  // }

  // @include respond(phone) {
  // }

  // //1800px +
  // @include respond(big-desktop) {
  //   font-size: 75%;
  // }
}

body {
  font-family: $font-base;
  //   font-weight: 400;
  // font-size: 2.5rem;
  //   line-height: 1.7;
  color: $black-color;
  //   margin: 3rem;
  box-sizing: border-box;

  // 600 - 900px
  @include respond(tab-port) {
    margin: 0;
  }
}
