.u-center-text {
    text-align: center !important; 
  }
  
  //Margin-Bottom
  .u-margin-bottom-sm {
    margin-bottom: 1.5rem !important;
  }
  
  .u-margin-bottom-md {
    margin-bottom: 4rem !important;
  }
  
  .u-margin-bottom-lg {
    margin-bottom: 8rem !important;
  }
  
  .u-margin-top-xs {
    margin-top: 1.5rem !important;
  }

  .u-margin-top-sm {
    margin-top: 4.5rem !important;
  }

  .u-margin-top-md {
    margin-top: 8rem !important;
  }
  
  .u-margin-top-lg {
    margin-top: 10rem !important;
  }
  