// .app__works{
//     flex: 1;
//     width: 100%;
//     flex-direction: column;
//     display: none;
// }

.work {
  // flex: 1;
  width: 100%;
  flex-direction: column;

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 4rem 0 2rem;

    &-item {
      background: green;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #fff;
      color: #000;
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 0.5rem;

      &:hover {
        background-color: $secondary-color;
        color: #fff;
      }

      @media screen and (min-width: 2000px) {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
      }
    }

    &-active {
      background-color: $secondary-color;
      color: #fff !important;
    }
  }

  //   &__item {
  //     background: green;
  //     padding: 0.5rem 1rem;
  //     border-radius: 0.5rem;
  //     background-color: #fff;
  //     color: #000;
  //     cursor: pointer;
  //     transition: all 0.3s ease;
  //     margin: 0.5rem;

  //     &:hover {
  //       background-color: $secondary-color;
  //       color: #fff;
  //     }

  //     @media screen and (min-width: 2000px) {
  //       padding: 1rem 2rem;
  //       border-radius: 0.85rem;
  //     }
  //   }

  //   &__active {
  //     background-color: $secondary-color;
  //     color: #fff !important;
  //   }

  &__portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-cards {
      height: 25rem;
      border-radius: 0.2rem;
      width: 17rem;
      flex-direction: column;

      margin: 2rem;
      padding: 1rem;
      background-color: #fff;
      color: #000;

      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
      }

      @media screen and (min-width: 2000px) {
        width: 29rem;
        padding: 1.25rem;
        border-radius: 0.75rem;
      }

      @media screen and (max-width: 300px) {
        width: 100%;
        margin: 1rem;
      }
    }

    &-img {
      width: 100%;
      height: 14rem;

      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
      }

      @media screen and (min-width: 2000px) {
        height: 22rem;
      }
    }

    &-content {
      padding: 0.5rem;
      width: 100%;
      position: relative;
      flex-direction: column;

      h4 {
        margin-top: 1rem;
      }
    }

    &-tag {
      position: absolute;

      padding: 0.5rem 1rem;
      border-radius: 1rem;
      background-color: #fff;
      top: -2rem;
    }

    &-icon-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);

      border-radius: 0.5rem;
      opacity: 0;
      transition: all 0.3s ease;

      div {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        margin: 1rem;
        // font-family: $font-base;
        // font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      svg {
        width: 50%;
        height: 50%;
        color: $white-color;
      }
    }

    &-iconsmall {
      width: 100%;
      height: 100%;
      margin-top: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;

      div {
        display: none;
        margin: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);

        svg {
          width: 50%;
          height: 50%;
          color: $white-color;
        }

        @media screen and (max-width: 800px) {
          display: flex;
        }
      }
    }
  }

  //   &__cards {
  //     width: 17rem;
  //     flex-direction: column;

  //     margin: 2rem;
  //     padding: 1rem;
  //     background-color: #fff;
  //     color: #000;

  //     cursor: pointer;
  //     transition: all 0.3s ease;

  //     &:hover {
  //       box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  //     }

  //     @media screen and (min-width: 2000px) {
  //       width: 29rem;
  //       padding: 1.25rem;
  //       border-radius: 0.75rem;
  //     }

  //     @media screen and (max-width: 300px) {
  //       width: 100%;
  //       margin: 1rem;
  //     }
  //   }

  //   &__img {
  //     width: 100%;
  //     height: 14rem;

  //     position: relative;

  //     img {
  //       width: 100%;
  //       height: 100%;
  //       border-radius: 0.5rem;
  //       object-fit: cover;
  //     }

  //     @media screen and (min-width: 2000px) {
  //       height: 22rem;
  //     }
  //   }
}
